.calendarPage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: justify-content 1s;
  justify-content: center;
}
.getTodoList {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: flex-start;
  justify-content: flex-start;
}
.calendar {
  //   height: 53%;
  //   display: grid;
  //   place-items: center;
}
.calendarHeader {
  display: grid;
  grid-template-columns: auto 1fr auto;
  place-items: center;
  gap: 1rem;
  margin-bottom: 1rem;

  .monthChangeButton {
    margin: 1rem;
    background-color: white;
    border: none;
  }
  .yearAndMonth {
    font-size: 2rem;
  }
}
.calendarTable {
  width: 100%;
  .weekdayHeader {
    font-size: 1.2rem;
  }
  .weekdayNames {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: space-between;
  }
  .date {
    padding: 0;
    height: 44px;
    // display: grid;
    // place-items: center;
  }
  .selected {
    border-radius: 10%;
    background-color: lightgray;
    transition: background-color 0.3s ease-out;
  }
  th:not(.selected) {
    border-radius: 10%;
    background-color: transparent;
    transition: background-color 0.3s ease-out;
  }
}
